html {
    font-family: 'Montserrat', sans-serif;
}

.flex {
    display: flex;
}

.text-nav {
    align-items: center;
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 1em;
}

li:hover {
    color: #1abc9c;
}

html {
    font-family: 'Montserrat', sans-serif;
}

/* Extend Bootstrap Utilities */
.pb-6 {
    padding-bottom: 4rem!important;
}

.pt-6 {
    padding-top: 4rem!important;
}

.ps-10 {
    padding-right: 10rem!important;
}

.pe-10 {
    padding-left: 10rem!important;
}

/* nav */
nav {
    width: 100%;
    background-color: #2c3e50;
    height: 3em;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.start {
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
}

.menu {
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    justify-content: flex-end;
}

.menu ul {
    margin-bottom: 0;
}

.hamburger .fa-bars {
    display: none;
} 

.hamburger:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
}
/* /nav */

/* jambotro */
.jambotron {
    background-color: #1abc9c;
    text-transform: uppercase;
}

.text-center {
    color: white;
}

.avatar {
    display: inline-block;
    width: 300px;
    height: 200px;
}
  
.avatar img {
      width: 100%;
      height: 100%;
}


.star, .star-black {
    justify-content: center;
    align-items: center;
}

.star::after {
    content: '';
    display: inline-block;
    width: 20%;
    height: 3px;
    background-color: white;
    margin: 1em;
}

.star::before {
    content: '';
    display: inline-block;
    width: 20%;
    height: 3px;
    background-color: white;
    margin: 1em;
}

.star-black::after {
    content: '';
    display: inline-block;
    width: 20%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 1em;
}

.star-black::before {
    content: '';
    display: inline-block;
    width: 20%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 1em;
}
/* /jambotro */

.portfolio, .about, .contact, .footer {
    margin-top: 2em;
}

/* portfolio */
.sub-title {
    text-align: center;
}

.img-green {
    height: 180px;
    position: relative;
    background-color: #1abc9c00;
    transition: 1s;
}

.img-green img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    transition: 1s;
}

.img-green .fa-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0);
    font-size: 1em;
    transition: font-size;
    transition: 1s;
}

.img-green:hover .fa-plus {
    font-size: 5em;
    color: #ffffff;
}

.img-green:hover {
    background-color: #1abc9c;
    border-radius: 10px;
}

.img-green:hover img {
    opacity: 0;
}
/* portfolio */


/* about */
.about {
    background-color: #1abc9c;
    color: white;
}

.btn-outline-primary {
    color: white;
    border-color: white;
}
/* about */

/* contact */
.send {
    background-color: #1abc9c;
    color: white;
}
/* contact */

/* footer */
.footer-top {
    background-color: #3a546d;
}

.font {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
}

.font:hover {
    background-color: white;
    color: black;
}

.footer-bottom {
    background-color: #2c3e50;
}

h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
}

.text-footer {
    font-size: 1.2em;
    font-weight: 600;
}

.text-color {
    color: #1abc9c;
}

.form-label {
    font-size: 1.3em;
    font-weight: 600;
}

.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
}

.mb-3:hover .form-label {
    font-size: 0.8em;
}



/* footer */

@media screen and (max-width: 767px) {
    .row .menu ul {
        display: none;
    }

    .hamburger .fa-bars {
        padding: 0.5em;
        display: block;
        border: 1px solid white;
        border-radius: 10px;
    }
}

@media screen and (max-width: 991px) {
    .text-nav {
        font-size: 0.8em;
    }
}